/* ui/src/component/header.sass: Styles for UI header
 *
 * Copyright 2023 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
 *
 * This program comes with ABSOLUTELY NO WARRANTY; This is free software, and
 * you are welcome to redistribute it and/or modify it under the terms of the
 * BSD 2-clause License. See the LICENSE file for more details.
 *
 */

.app-header
  background-color: #3C3B3D

  .portfolio-selector
    outline: none
    box-shadow: none
    font-weight: bold
    color: #AAB2BD
    max-width: 220px

  .portfolio-maintenance
    --bs-btn-hover-bg: var(--bs-dark)
    --bs-btn-hover-border-color: var(--bs-dark)
    --bs-btn-hover-color: #FFCE54
    --bs-btn-color: #656D78
    --bs-btn-active-bg: var(--bs-dark)
    --bs-btn-active-border-color: var(--bs-dark)
    --bs-btn-active-color: #FFCE54

  .header-logo > strong
    font-size: 1.5em
    text-transform: uppercase
    letter-spacing: .15em
    margin-left: .15em
    color: #8CC152

.app-nav
  background-color: #323133

  .nav
    gap: .5rem

  .nav-item .btn-light
    --bs-btn-bg: transparent
    --bs-btn-color: #FFCE54
    --bs-btn-border-color: transparent
    --bs-btn-hover-bg: #FFCE54
    --bs-btn-hover-color: #323133
    --bs-btn-hover-border-color: #FFCE54
    --bs-btn-active-color: #F6BB42
    --bs-btn-active-bg: transparent
    --bs-btn-active-border-color: transparent

    &.active
      font-weight: bold
      text-shadow: 0 0 .5rem rgba(246, 187, 66, .66)
