/* ui/src/styles.sass: Main style sheet for the UI
 *
 * Copyright 2023 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
 *
 * This program comes with ABSOLUTELY NO WARRANTY; This is free software, and
 * you are welcome to redistribute it and/or modify it under the terms of the
 * BSD 2-clause License. See the LICENSE file for more details.
 *
 */

@font-face
  font-family: 'JetBrains Mono'
  src: url("/asset/webfonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype")

:root
  --bs-font-monospace: "JetBrains Mono"

@import './component/header.sass'

@import './page/account_maintenance/styles.sass'
@import './page/portfolio_maintenance/styles.sass'
@import './page/summary/styles.sass'
@import './page/transaction_maintenance/styles.sass'

body
  background-color: #F5F7FA

table
  & > *
    --bs-table-bg: transparent

  td
    vertical-align: middle !important

  tr .buttons
    display: flex
    gap: .25rem
    justify-content: stretch

    & > *
      flex-grow: 1

.table-hover > tbody > tr:hover > *
  // #A0D468
  --bs-table-bg-state: rgba(160, 212, 104, .1)

*:disabled, .disabled
  cursor: not-allowed

button > i
  margin-right: .25rem
