/* ui/src/page/summary/styles.sass: Styles for summary page
 *
 * Copyright 2023 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
 *
 * This program comes with ABSOLUTELY NO WARRANTY; This is free software, and
 * you are welcome to redistribute it and/or modify it under the terms of the
 * BSD 2-clause License. See the LICENSE file for more details.
 *
 */

.summary-container
  --bs-gutter-x: 0
  overflow-x: auto

  table small
    margin-bottom: .125rem

  table thead
    .row-total, .row-monthly-return
      th.month
        line-height: 1
        padding: .125rem .5rem

        small
          font-weight: normal

  table tbody td
    line-height: 1
    padding: .125rem .5rem
    min-height: 41px

    .font-monospace
      color: #000
      cursor: pointer

    .normal-date
      color: #AAB2BD

      &.done:before
        font-family: var(--fa-style-family, "Font Awesome 6 Free")
        font-weight: var(--fa-style, 900)
        content: '\f00c'
        padding-right: .25rem
        font-weight: bolder
        color: #2ABA66

      &.today
        font-weight: bolder
        color: #656D78

        &:before
          font-family: var(--fa-style-family, "Font Awesome 6 Free")
          font-weight: var(--fa-style, 900)
          content: '\f005'
          padding-right: .25rem
          color: #E9573F

    .within-weeks
      font-weight: bolder

      &.week0
        color: #2ABA66

      &.week1
        color: #F6BB42

    &.have-maturity
      background-color: lighten(#A0D468, 33%)

    &.account-cell, &.transaction-cell
      width: 150px

      & > div
        display: grid
        gap: 4px

        & > *
          white-space: nowrap

    &.transaction-cell
      &:hover .buttons
        display: flex !important
        height: 100%
        width: 100%
        align-items: center
        justify-content: end
        padding: 0 .5rem
        background-color: rgba(0, 0, 0, .05)

        button, a
          --bs-btn-padding-y: .0625rem
          --bs-btn-padding-x: .5rem
          flex-grow: 0

          &.btn-primary
            --bs-btn-bg: #5D9CEC
            --bs-btn-border-color: #5D9CEC
            --bs-btn-active-bg: #4A89DC
            --bs-btn-active-border-color: #4A89DC
            --bs-btn-hover-bg: #4A89DC
            --bs-btn-hover-border-color: #4A89DC

          & > i
            margin: 0

    strong
      color: #434A54
