/* ui/src/page/account_maintenance.sass: Styles for account maintenance page
 *
 * Copyright 2023 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
 *
 * This program comes with ABSOLUTELY NO WARRANTY; This is free software, and
 * you are welcome to redistribute it and/or modify it under the terms of the
 * BSD 2-clause License. See the LICENSE file for more details.
 *
 */

.account-maintenance

  table
    tbody td.font-monospace
      font-size: 110%

    thead .archive-toggle .btn
      --bs-btn-border-color: transparent
      --bs-btn-active-bg: #656D78
      --bs-btn-active-border-color: var(--bs-btn-active-bg)
      --bs-btn-active-color: #E6E9ED
