/* ui/src/page/portfolio_maintenance.sass: Styles for portfolio maintenance page
 *
 * Copyright 2023 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
 *
 * This program comes with ABSOLUTELY NO WARRANTY; This is free software, and
 * you are welcome to redistribute it and/or modify it under the terms of the
 * BSD 2-clause License. See the LICENSE file for more details.
 *
 */

.portfolio-maintenance

  tbody .selected-state
    --bs-btn-disabled-border-color: transparent
    --bs-btn-active-border-color: transparent
